@model GiftBird.Models.Donator

@{
	ViewBag.Title = "DetailsPage";
}
<body>
	<div>
		<h2>@ViewBag.Name </h2>
		<hr />
	</div>
	@*<h3>Here are your current charities selected for donation:</h3>*@
	<p>@ViewBag.Message,
	@ViewBag.RegTest</p>
	<!--still need to populate the 3 charities that user selected from search page-->
</body>

<h3> Want to add to your list? @Html.ActionLink("Search", "SearchView") </ h3 >