@model GiftBird.Models.Donator
@{
    ViewBag.Title = "Don Profile";
}

<style>

</style>

<h2> Hello, Grant Giver! </h2>
<hr />
<br />
@ViewBag.Message
<br />
<br />
<hr />
<h4>You are currently giving to:</h4>
<br />
<h5> Humane Society of West Michigan</h5>
<a href="http://www.hswestmi.org/">www.hswestmi.org</a>
<br />
<br />
<br />
<h5> Blandford Nature Center</h5>
<a href="blandfordnaturecenter.org/">www.blandfordnaturecenter.org</a>
<br />
<br />
<br />

<h5> Hearts of Hope Dog Rescue </h5>
<a href="https://rescueofhope.com/">www.rescueofhope.com</a>

<h5> A Rejoyceful Animal Rescue </h5>
<br />
<br />
<br />

<h5> Airedale Terrier Rescue and Adoption </h5>
<br />
<br />
<br />

<h5> All Species Kinship </h5>
<br />
<br />
<br />


<br />
<br />
<h6> Want to add to your list? @Html.ActionLink("Search", "SearchView")</h6>

